body {
    font-family: Arial, sans-serif;
    color: #222;
    font-size: 16px;
    background-color: #777;
    margin: 0;
    padding: 0;
}

header {
    background-color: /*#55b8ff*/ #ebebeb;
    color: #311;
    margin: 0;
    padding: 10px;
    /*border-bottom: 5px solid #3296de;*/
    width: auto;
    height: 100px;
}

#nav {
    width: auto;
    background-color: /*#000*/
    #ebebeb;
    height: 50px;
    margin: 10px 0 10px 0;
}

#nav ul {
    height: 50px;
    line-height: 50px;
    margin: 0;
}

#nav ul li {
    float: left;
    list-style-type: none;
}

#nav ul li a:link {
    /*background-color: #111;*/
    display: block;
    padding: 0 30px;
}

#nav ul li a:hover {
    background-color: #444;
}


/*main left container*/

section {
    float: left;
    width: 63%;
    margin: 0 auto 0 0;
    padding: 0;
}

article {
    padding: 20px;
    background-color: #ebebeb;
}


/*main right container*/

aside {
    float: right;
    width: 35%;
    margin: 0 0 0 auto;
    padding: 0;
    background-color: #ebebeb;
}

aside > div {
    padding: 20px;
}

footer {
    width: auto;
    margin: 20px 0 0 0;
    height: 40px;
    background-color: /*#222*/
    #ebebeb;
    padding: 30px;
    font-size: 10px;
}

.clear {
    clear: both;
}


/* text */

a:link {
    text-decoration: underline;
    color: #3f3;
}

a:hover {
    text-decoration: none;
    color: #3f3;
}

a:visited {
    text-decoration: underline;
    color: #2b2;
}

header h1 {
    font-size: 38px;
    padding-left: 30px;
}

h1 {
    font-size: 28px;
}

.portrait {
    float: left;
}

.portrait img {
    padding: 5px;
    border: 1px solid #333;
    margin: 10px;
    background-color: #444;
}

.caption {
    font-size: 10px;
    font-style: italic;
    display: block;
    text-align: center;
    margin-top: -10px;
    color: #999;
}
